* {
    margin: 0;
    background-color: #ffffff;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #c4c4c4;
}

.conteiner {
    width: 640px;
    margin: 0 auto;
}

.header-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
}

.header-icon {
    padding-right: 0 30px;
}

.stories {
    display: flex;
    background-color: #fafafa;
    height: 194px;
}

.stories-conteiner {
    display: flex;
    align-items: center;
    height: 164px;
    border: 1px solid #c4c4c4;
    margin-top: 28px;
    justify-content: space-around;
}

.column {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}